.pie {
  position: relative;
  background: #c2c2c2;
  border-radius: 100%;
  overflow: hidden;
}

.pie .segment {
  height: 100%;
  position: absolute;
  width: 100%;
  transform-origin: 50% 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.segment .inner {
  background: #41d3bd;
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  transform-origin: 50% 0;
}
